<div class="container mx-auto px-4 flex items-center justify-between py-3 mb-4 border-b">
    <a href="/" class="flex items-center text-gray-900 no-underline">
        <img class="w-10 h-10 mr-2" alt="Spotify icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/512px-Spotify_icon.svg.png?20220821125323"/>
        <span class="text-2xl font-medium">Spotify Wrapped</span>
    </a>

    <ul class="flex space-x-4">
        <li><a href="#" class="text-black">Home</a></li>
        <li><a href="#" class="px-4 py-2 bg-green-500 text-white rounded shadow">Reuel Sundiam</a></li>
    </ul>
</div>