<div class="container mx-auto px-4">
    <footer class="flex flex-wrap justify-between items-center py-3 my-4 border-t">
        <p class="text-gray-500 text-sm">© 2024 Spotify Wrapped by Reuel Christian Sundiam</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/512px-Spotify_icon.svg.png?20220821125323" alt="Spotify icon" class="w-10 h-10"/>
        <ul class="flex space-x-4 text-sm">
            <li><a href="#" class="text-gray-500 hover:text-gray-700">Home</a></li>
            <li><a href="#" class="text-gray-500 hover:text-gray-700">Features</a></li>
            <li><a href="#" class="text-gray-500 hover:text-gray-700">Pricing</a></li>
            <li><a href="#" class="text-gray-500 hover:text-gray-700">FAQs</a></li>
            <li><a href="#" class="text-gray-500 hover:text-gray-700">About</a></li>
        </ul>
    </footer>
</div>
