<div class="container mx-auto px-4 py-6">
    <h2 class="pb-4 text-2xl font-bold text-center">Your Most Played Artists!</h2>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <div class="space-y-6">
            <div>
                <img src="taylor.jpeg" alt="Taylor Swift" class="w-full rounded shadow-lg" style="height: 50%; object-fit: cover;"/>
                <h3 class="text-2xl font-bold mt-4">2. Taylor Swift</h3>
            </div>
            <div>
                <img src="post.jpeg" alt="Post Malone" class="w-full rounded shadow-lg"  style="height: 50%; object-fit: cover;" />
                <h3 class="text-2xl font-bold mt-4">3. Post Malone</h3>
            </div>
        </div>

        <div class="flex items-center justify-center">
            <div>
                <img src="ariana.jpeg" alt="Ariana Grande" class="w-full rounded shadow-lg" style="height: 70%; object-fit: cover;" />
                <h3 class="text-2xl font-bold mt-4 text-center">1. Ariana Grande</h3>
            </div>
        </div>

        <div class="space-y-6">
            <div>
                <img src="domfike.jpeg" alt="Dominic Fike" class="w-full rounded shadow-lg" style="height: 50%; object-fit: cover;" />
                <h3 class="text-2xl font-bold mt-4">4. Dominic Fike</h3>
            </div>
            <div>
                <img src="jk.jpeg" alt="Juan Karlos" class="w-full rounded shadow-lg" style="height: 50% !important; object-fit: fill;"/>
                <h3 class="text-2xl font-bold mt-4">5. Juan Karlos</h3>
            </div>
        </div>
    </div>
</div>
