<div class="container mx-auto px-4 py-3" id="custom-cards">
    <h2 class="pb-2 text-2xl font-bold text-gray-900">Your Most Played Songs!</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-3">

        <div class="relative w-full overflow-hidden rounded-lg shadow-lg aspect-square" style="background-image: url('ikot.png'); background-size: cover; background-position: center;">
            <div class="absolute inset-0 bg-black/50 flex items-end">
                <h3 class="p-4 text-white text-lg font-bold">Ikot by Over October</h3>
            </div>
        </div>

        <div class="relative w-full overflow-hidden rounded-lg shadow-lg aspect-square"  style="background-image: url('ere.png'); background-size: cover; background-position: center;">
            <div class="absolute inset-0 bg-black/50 flex items-end">
                <h3 class="p-4 text-white text-lg font-bold">Ere by Juan Karlos</h3>
            </div>
        </div>

        <div class="relative w-full overflow-hidden rounded-lg shadow-lg aspect-square"  style="background-image: url('burnout.jpg'); background-size: cover; background-position: center;">
            <div class="absolute inset-0 bg-black/50 flex items-end">
                <h3 class="p-4 text-white text-lg font-bold">Burnout by Sugarfree</h3>
            </div>
        </div>
    </div>
</div>
